<ion-header no-border>

  <ion-navbar>
    <ion-title>Andamento da Cozinha</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list *ngIf="bebidas">
    <ion-list-header>Bebidas</ion-list-header>
    <ion-item *ngFor="let bebida of bebidas">
      <ion-thumbnail item-start>
        <img src="{{bebida.imgUrl}}">
      </ion-thumbnail>
      <h2>{{bebida.title}}</h2>
      <progress-bar [progress]="80"></progress-bar>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="petiscos">
    <ion-list-header>Petiscos</ion-list-header>
    <ion-item *ngFor="let petisco of petiscos">
      <ion-thumbnail item-start>
        <img src="{{petisco.imgUrl}}">
      </ion-thumbnail>
      <h2>{{petisco.title}}</h2>
      <progress-bar [progress]="100"></progress-bar>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="pratos">
    <ion-list-header>Pratos Principais</ion-list-header>
    <ion-item *ngFor="let prato of pratos">
      <ion-thumbnail item-start>
        <img src="{{prato.imgUrl}}">
      </ion-thumbnail>
      <h2>{{prato.title}}</h2>
      <progress-bar [progress]="10"></progress-bar>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="sobremesas">
    <ion-list-header>Sobremesas</ion-list-header>
    <ion-item *ngFor="let sobremesa of sobremesas">
      <ion-thumbnail item-start>
        <img src="{{sobremesa.imgUrl}}">
      </ion-thumbnail>
      <h2>{{sobremesa.title}}</h2>
      <progress-bar [progress]="0"></progress-bar>
    </ion-item>
  </ion-list>

</ion-content>
